body {
    margin:0;
}

.header .navigation {
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-weight:500;
    float: right;
    margin-top:45px;
    margin-bottom:25px;
    color: #0C0A5D;
}

.container {
    width: 60%;
    overflow: hidden;
    margin: auto;
    position:relative;
}

.header {
    width: 100%;
    overflow: hidden;
    height:118px;
    background: white;
}

.header .navigation li {
    float: right;
    margin-left: 79px;
    display: block;
}

.header .navigation li a{
    text-decoration: none;
}

.header .navigation li a:hover{
    color: #FF9849;
}

.intro {
    width: 100%;
    overflow: hidden;
    height:800px;
    background: #f8f9fb;
}

.fontgeneral {
    font-family: 'Poppins', sans-serif;
}

.general {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
}

.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #0C0A5D;
    margin: 0;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
}

.desc {
    margin-top:28px;
    margin-bottom:41px;
    float:left;
}

.photo {
    margin-top:28px;
    margin-bottom:41px;
    float:right;
    object-fit: cover;
}

.button1 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:26px;
    padding-left:26px;
    background-color: white;
    color:#FF9849;
    border-radius: 30px;
    min-height:30px; 
    min-width: 120px;
    border-color: #FF9849;
}

.button1:hover {
    background-color: #FF9849;
    color:white;
}

.aboutme {
    width: 100%;
    overflow: hidden;
    height: 788px;
    background: white;
}

.skills {
    width: 100%;
    overflow: hidden;
    height: 450px;
    background: #f1f4fb;
}

.eduExp{
    width: 100%;
    overflow: hidden;
    height: 508px;
    background: #f8f9fb;
}

.project {
    width: 100%;
    height: 830px;
    background: white;
}

.footer {
    width: 100%;
    overflow: hidden;
    height: 68px;
    background: #ff9849;
}

.abtme {
    margin: auto;
    overflow: hidden;
}

.photo2 {
    float: left;
    padding-top:156px;
    object-fit: cover;
}

.generalfont{
    font-family: 'Poppins', sans-serif;
}

.container1 {
    display: grid;
    grid-template-columns: 30px 100px 40px 250px;
    text-align: right;
}

.profiledetails {
    font-family: 'Poppins', sans-serif;
}

.container-project{
    width: 60%;
    overflow: hidden;
    margin: auto;
    position:relative;
}






